body {
  margin:0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  overflow-x:hidden ;
}
body::-webkit-scrollbar {
  display: none;
}
.flex{
  display: flex;
}
.column {
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.j-between {
  justify-content: space-between;
}
.a-center {
  align-items: center;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

